/* Add screen styles below */
body{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.336);
}